doctype html
html(lang="ru")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Protherm
    link(rel="stylesheet", href="./css/style.css")
  body
    .container
      .card
        .top
          .content
            img.profile(src="./pics/profile.svg", alt="")
            .counter
              span 5
            .wrapper
              p Константинопольский К.
              .rates
                .rating
                  img(src="./pics/rate.svg", alt="")
                  img(src="./pics/rate.svg", alt="")
                  img(src="./pics/rate.svg", alt="")
                  img(src="./pics/rate.svg", alt="")
                  img(src="./pics/rate_unactive.svg", alt="")
                  span 4.0
                .likes
                  img(src="./pics/like.svg", alt="")
                  span 12
                button.popup 6 отзывов
                .reviews
                  .review
                    .review_header
                      h5 Александр
                      .wrapper
                        .score
                          p Рейтинг
                          span 2.0
                        span 10.11.2019
                    p Было приятно поработать, все поставленные задачи были выполнены. Хорошая обратная связь. Если понадобится что-то снова сделать, обязательно обращусь к Николаю. Специалист своего дела, все на высоком уровне!
                  .review
                    .review_header
                      h5 Александр
                      .wrapper
                        .score
                          p Рейтинг
                          span 2.0
                        span 10.11.2019
                    p Было приятно поработать, все поставленные задачи были выполнены. Хорошая обратная связь. Если понадобится что-то снова сделать, обязательно обращусь к Николаю. Специалист своего дела, все на высоком уровне!
                .shape
              .buttons
                button Выбрать
                button.grey Профиль
        .bottom
          .wrapper
            .category
              img(src="./pics/location.svg", alt="")
              button Области
                span  6
            .category
              img(src="./pics/city.svg", alt="")
              button Города
                span  16  
          .wrapper
            .category
              img(src="./pics/cup.svg", alt="")
              span > 5 лет на сайте
            .category
              img(src="./pics/doc.svg", alt="")
              button Имеется сертификат
    script(src="./js/main-dist.js")